{% extends "sprout-base-redirects/_layouts/elementindex" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set elementType = 'barrelstrength\\sproutbaseredirects\\elements\\Redirect' %}
{% set title = "Redirects" %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbaseredirects\\web\\assets\\redirects\\RedirectsAsset") %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon {% if not isPro %}sprout-disabled{% endif %}" id="sprout-base-redirects-new-button"
           href="{{ url(pluginHandle ~ '/redirects/new/' ~ currentSite.handle) }}">{{ "New Redirect"|t }}</a>

        {% if not isPro %}
            {{ sprout.upgradeToProButton({
                url: cpUrl('sprout-redirects/upgrade'),
                title: "Upgrade to Sprout Redirects PRO to manage Unlimited Redirects"|t('sprout-base-redirects')
            }) }}
        {% endif %}
    </div>
{% endblock %}

{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}

{% js %}
    {% if not isPro %}
        $('#sprout-base-redirects-new-button').click(function(e){
        e.preventDefault();
        })
    {% endif %}
    $(document).ready(function() {
    new RedirectIndex();
    });
{% endjs %}

{% block initJs %}
    {# Pass segment to the RedirectQuery class to build URLs across plugin use cases #}
    var criteria = $.extend({}, Craft.defaultIndexCriteria);
    criteria.pluginHandle = '{{ craft.app.request.getSegment(1) }}';


    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
    context:        '{{ context }}',
    storageKey:     'elementindex.{{ elementType|e("js") }}',
    criteria:       criteria
    });

    $('#main-content').removeClass('has-sidebar');
{% endblock %}
