{% extends "sprout-base-redirects/_layouts/elementindex" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set elementType = 'barrelstrength\\sproutbaseredirects\\elements\\Redirect' %}
{% set title = "Redirects" %}

{% do view.registerAssetBundle("barrelstrength\\sproutbaseredirects\\web\\assets\\redirects\\RedirectsAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}

{% block actionButton %}
    {% if proFeaturesEnabled %}
        <div class="buttons">
            <a class="btn submit add icon" id="sprout-base-redirects-new-button"
               href="{{ url(pluginHandle ~ '/redirects/new/' ~ currentSite.handle) }}">{{ "New Redirect"|t }}</a>
        </div>
    {% else %}
        {{ sprout.upgradeToProButton({
            url: cpUrl('plugin-store/sprout-redirects')
        }) }}
    {% endif %}
{% endblock %}

{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}

{% js %}
    $(document).ready(function() {
    new RedirectIndex();
    });
{% endjs %}

{% block initJs %}
    {# Pass segment to the RedirectQuery class to build URLs across plugin use cases #}
    var params = {'pluginHandle': '{{ craft.app.request.getSegment(1) }}'};
    var criteria = Object.assign(Craft.defaultIndexCriteria, params);

    {# Only apply these values on a plugin integration. We will use the default values above
       in Sprout Email so the Source filtering works as expected. #}
    {#if (params.pluginHandle !== 'sprout-redirects') {#}
    {#criteria = Object.assign(Craft.defaultIndexCriteria, params);#}
    {#}#}

    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
    context:        '{{ context }}',
    storageKey:     'elementindex.{{ elementType }}',
    criteria:       criteria
    });

    $('#main-content').removeClass('has-sidebar');
{% endblock %}
